{% extends 'base.html' %}
{% load static %}

{% block title %}Catálogo de IAs{% endblock %}

{% block content %}
<h1 class="mb-4">Catálogo de IAs</h1>

<form action="" method="GET" class="mb-4">
    <div class="input-group">
        <input type="text" class="form-control" name="searchAITool" placeholder="Buscar herramienta IA..."/>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

<p class="text-muted">Buscando: {{ searchTerm }}</p>

<div class="categories">
    {% for category in categories %}
        <a href="?category={{ category }}" class="category-tag">{{ category }}</a>
    {% endfor %}
</div>

<style>
    
    .categories {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
    }
    .category-tag {
        padding: 5px 10px;
        background-color: #ddd;
        border-radius: 10px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .category-tag:hover {
        background-color: #bbb;
    }

   
    .card:hover {
        background-color: #bcd7f1; 
        cursor: pointer;
        transition: 0.3s;
    }

    
    .card-img-top {
        height: 200px;    
        object-fit: cover; 
    }
</style>


<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for ai in ai_tools %}
    <div class="col">
        <!-- Toda la card es clickeable -->
        <a href="{% url 'presentationAI' ai.id %}" class="text-decoration-none text-dark h-100">
            <div class="card h-100">
                {% if ai.image %}
                    <img class="card-img-top" src="{{ ai.image.url }}" alt="{{ ai.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ ai.name }}</h5>
                    <p class="card-text">{{ ai.description|truncatechars:100 }}</p>
                </div>
                <div class="card-footer text-muted">
                    <small><strong>Proveedor:</strong> {{ ai.provider }}</small>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
